/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

body{
	background-color: #f2f4f8;
}

.btn, .btn-large, .btn-small, .btn-flat{
	padding: 0px 1rem;
}
.default{
	background-color: #fff !important;
	color: #333 !important;
}

.white-text a{
	text-decoration: none !important;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,.7);
}

.modal .modal-footer{
	height: inherit;
	padding: 10px 15px;
	padding-top: 0px;
}

.card-alert-suscripcion{
	padding: 15px 0px;
}

table.dataTable.no-footer{
	    border-bottom: 1px solid #cfd8dc;
}

/*.sidenav-dark .brand-sidebar{
	background: transparent;
	box-shadow: none;
}*/